@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

.text-gradient {
    background: linear-gradient(
        50deg,
        rgb(79, 250, 230) 25%,
        rgba(6, 54, 102, 1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #484848;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2d2d2d;
}